section.main.st-emotion-cache-uf99v8.ea3mdgi5 {
    background: linear-gradient(to bottom,#F2865F, #EC7063);
    font-family: 'Arial', sans-serif;
    color: #FFF;
}

header.st-emotion-cache-1avcm0n.ezrtsby2 {
    background: linear-gradient(to top, #FC6A4A, #FF5733);
}

div.st-emotion-cache-zt5igj.e1nzilvr4 {
    border: 5px solid #FF5733;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}


.team {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #922B21;
}